<link rel="stylesheet" href="./xxx.css" role="debug">
    <div class="search-titles">
        搜索条件显示
    </div>
<div class="search-lists">
    <div class="man-photo"></div>
    <div class="list-title category-list">车辆分类
        <!-- <span class='detail hide'> <span class='detail-info'>男</span> <i>x</i></span>
        <span class='detail hide'> <span class='detail-info'>女</span> <i>x</i></span>
        <span class='detail hide'> <span class='detail-info'>不限</span> <i>x</i></span> -->
    </div>
    <div class="list-title color-list">车辆颜色
        <!--  <span class='detail hide'> <span class='detail-info'>长</span> <i>x</i></span>
        <span class='detail hide'> <span class='detail-info'>短</span> <i>x</i></span>
        <span class='detail hide'> <span class='detail-info'>不限</span> <i>x</i></span> -->
    </div>
    <div class="list-title">车辆品牌
        <div class="top-body brand-list">
            <!--  <span class='detail hide'> <span class='detail-info'>正装</span> <i>x</i></span>
            <span class='detail hide'> <span class='detail-info'>条纹</span> <i>x</i></span>
            <span class='detail hide'> <span class='detail-info'>logo</span> <i>x</i></span>
            <span class='detail hide'> <span class='detail-info'>T-shirt</span> <i>x</i></span>
            <span class='detail hide'> <span class='detail-info'>长袖</span> <i>x</i></span>
            <span class='detail hide'> <span class='detail-info'>短袖</span> <i>x</i></span>
            <span class='detail hide'> <a class='detail-color detail-color0'></a> <i>x</i></span> -->
        </div>
    </div>
    <div class="list-title">车牌号
        <div class="bottom-body num-list">
            <!--    <span class='detail hide'> <span class='detail-info'>长裤</span> <i>x</i></span>
        <span class='detail hide'> <span class='detail-info'>短裤</span> <i>x</i></span>
        <span class='detail hide'> <span class='detail-info'>裙子</span> <i>x</i></span>
        <span class='detail hide'> <span class='detail-info'>牛仔裤</span> <i>x</i></span>
        <span class='detail hide'> <a class='detail-color detail-color1'></a> <i>x</i></span> -->
        </div>
    </div>
</div>
