<link rel="stylesheet" href="./xxx.css" role="debug">
<div class="top">
    <span style="">搜索条件</span>
    <i style="position:absolute;top:2px;right:13px;"><img id="close" src="1.png"></i>
</div>
<div class="bottom">
    <div class="bottom_l" style="overflow:hidden;" id="wrapper0">
        <div style="width:100%;height:100%;position:relative;" id="iscroll0">
            <div style="position:absolute;left:0;width:100%;">
                <div class="bottom_l_T">
                    <ul class="bottom_main">
                        <li class="sex">
                            <span class="har_icon"></span> 性别
                            <div class="xla">
                                <div class="txt" value="">
                                    <input type="text" disabled="true">
                                    <i><b></b></i>
                                </div>
                                <ul style="display: none;">
                                    <li male="1">男</li>
                                    <li male="-1">女</li>
                                    <li male="0">不限</li>
                                </ul>
                            </div>
                        </li>
                        <li class="hair">
                            <span class="har_icon"></span> 头发
                            <div class="xla">
                                <div class="txt" value="">
                                    <input type="text" disabled="true">
                                    <i><b></b></i>
                                </div>
                                <ul style="display:none;">
                                    <li long_hair="1">长</li>
                                    <li long_hair="-1">短</li>
                                    <li long_hair="0">不限</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 服装 -->
                <div class="bottom_l_C" style="margin-top: 14px">
                    <div class="bottom_l_top">
                        <span class="har_icon"></span>
                        <span class="wpgood">服装</span>
                    </div>
                    <div class="bot_b">
                        <div class="bot_l">
                            <p class="uper_color">上身款式</p>
                            <ul class="clearfix Upper">
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span topBody="3" formal>正装</span>
                                </li>
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span topBody="4" stripe="1">条纹</span>
                                </li>
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span topBody="5" logo="1">logo</span></li>
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span topBody="6" tshirt="1">T-shirt</span>
                                </li>
                                <li class="fl bot_last">
                                    <span class="checkbox checkbox-input"></span>
                                    <span topBody="7" long_sleeves="1">长袖</span>
                                </li>
                                <li class="fl bot_last">
                                    <span class="checkbox checkbox-input"></span>
                                    <span topBody="8" long_sleeves="-1">短袖</span>
                                </li>
                            </ul>
                            <!-- 上身颜色 -->
                            <div class="common-color">
                                <p class="uper_color">上身颜色</p>
                                <div class="colorxla upcolor">
                                    <div id="qq">
                                        <a href="javascript:void(0)" id="img" color="1"></a>
                                    </div>
                                    <div class="upright">
                                        <i class="bcolor"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bot_r">
                            <p class="uper_color">下身款式</p>
                            <ul class="clearfix Upper">
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span bottomBody="0">长裤</span>
                                </li>
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span bottomBody="1">短裤</span></li>
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span bottomBody="2">裙子</span>
                                </li>
                                <li class="fl">
                                    <span class="checkbox checkbox-input"></span>
                                    <span bottomBody="3">牛仔裤</span>
                                </li>
                            </ul>
                            <!-- 下身颜色 -->
                            <div class="common-color">
                                <p class="uper_color">下身颜色</p>
                                <div class="colorxla upcolor">
                                    <div id="qqo">
                                        <a href="javascript:void(0)" id="imgo"></a>
                                    </div>
                                    <div class="upright">
                                        <i class="bcolor"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 携带物品;交通工具 -->
                    <div class="carrygoods clearfix">
                        <div class="carry_l fl">
                            <div class="bottom_l_top">
                                <span class="har_icon"></span>
                                <span class="wpgood">携带物品</span>
                            </div>
                            <ul class="clearfix carrylist">
                                <li class="fl flist not-color">眼镜</li>
                                <li class="fl not-color">帽子</li>
                                <li class="fl not-color">面罩</li>
                                <li class="fl" package="1">提包</li>
                                <li class="fl" package="2">背包</li>
                            </ul>
                            <!-- 下拉 -->
                            <div class="xla carry" style="position: relative;top: 33px; left: 20px;">
                                <div class="txt" value="">
                                    <input type="text" disabled="true">
                                    <i><b></b></i>
                                </div>
                                <ul class="other-sure" style="display:none">
                                    <li>不限</li>
                                    <li other="1">是</li>
                                    <li other="0">否</li>
                                </ul>
                            </div>
                            <!-- 背包颜色 -->
                            <div class="package-color clearfix">
                                <p class="uper fr" style="position: relative;right:441px;bottom:22px">背包颜色</p>
                                <div class="colorxla fr" style="position: relative;left:-417px;top:35px;">
                                    <div class="colorxla upcolor">
                                        <div id="qqt">
                                            <a href="javascript:void(0)" id="imgt"></a>
                                        </div>
                                        <div class="upright">
                                            <i class="bcolor"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carry_r">
                            <div class="bottom_l_top">
                                <span class="har_icon"></span>
                                <span class="wpgood">交通工具</span>
                            </div>
                            <div class="ride-box">
                                <span class="ride">骑车</span>
                                <div class="xla">
                                    <div class="txt" value="">
                                        <input type="text" disabled="true">
                                        <i><b></b></i>
                                    </div>
                                    <ul style="display:none;position: absolute;left: 0;top: 30px;">
                                        <li ride="2">不限</li>
                                        <li ride="1">是</li>
                                        <li ride="0">否</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_r">
        <div class="load">
            <img src="2.png" alt="上传">
            <div class="upload-btn btn-old">
                <!-- <form action=""  id="myFormMan"><input type="file" name="" id="upload-btn"></form> -->
                <input type="file" name="" id="upload-btn">
            </div>
            <div class="upload-img "></div>
        </div>
        <div class="search">
            <p id="search-man">搜索</p>
        </div>
    </div>
</div>
 <div class="search-list">
        <div class="search-title">
            搜索条件显示
        </div>
        <div id="wrapper1">
            <div id="iscroll1">
                <div class="man-photo"></div>
                <div class="list-title sex-list">性别：
                </div>
                <div class="list-title hair-list">头发：
                </div>
                <div class="list-title">上身</div>
                <div class="top-body character-body">
                </div>
                <div class="list-title">下身</div>
                <div class="bottom-body character-body">
                </div>
                <div class="list-title">其他</div>
                <div class="other-body character-body">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
setTimeout(function() {
    var myScroll = new IScroll('#iscroll0', {
        scrollbars: true,
        mouseWheel: true
    })
}, 1000);
/*$(".checkbox").on("click", function() {
    setTimeout(function() {
        var myScroll = new IScroll('#wrapper1', {
            scrollbars: true,
            mouseWheel: true
        });
    }, 500);
});*/
var ll = new IScroll('#wrapper1', {
    scrollbars: true,
    mouseWheel: true
});
$(document).on("click","#searchMan",function(){
    ll.refresh();
});
$(document).on('click', "#close", function(event) {
    $("#searchMan").hide();
});
</script>
