<!-- <ul class="lister clearfix">
	<% for(i=0;i<data.length;i++){ %>
		<li><%= data[i] %></li>
	<% } %>
</ul> -->
<link rel="stylesheet" href="./xxx.css" role="debug">
<ul class="marker-list clearfix">
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
	<li><img src="./1.jpg" alt=""></li>
</ul>