
<link rel="stylesheet" href="./xxx.css" role="debug">
<div class="videoClose"></div>
<div class="video">
    <div class="panel video-panel" data-model="reid struct struct-vehicle reid-vehicle" style="">
        <div class="panel-body">
            <canvas role="canvas" width="429" height="" style="width: 429px; left: 0px;"></canvas>
            <div class="track-attribute-wrap" style=""></div>
            <div class="tool-container" style=""></div>
            <video id="videos" class="" role="preview-video" height="100%" src="json/video.mp4" controls="controls">
                <!-- <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"> -->
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>